---
layout: default
show_title: false
---

<h2>{{page.title}}</h2>

{% if page.date != nil %}

<small>
    <p>
        Added on {{ page.date | date: "%-d %B %Y" }}
    </p>
</small>

{% endif %}

<p>{{page.content | markdownify }}</p>

<div class="accordion" id="accordionSources">
    <!-- Image -->
    {% include card/accordion-option.html type='image' source=page.image %}

    <!-- PDF -->
    {% include card/accordion-option.html type='pdf' source=page.pdf %}

    <!-- Video -->
    {% include card/accordion-option.html type='video' source=page.video %}

    <!-- Tablature -->
    {% include card/accordion-option.html type='tablature' source=page.tablature %}
</div>


{% include back_url.html %}