---
layout: default
show_title: false
---

{% if page.image != nil %}
<div class="container text-center">
    <img src="{{ page.image }}" class="img-fluid" alt="Card image">
</div>
{% endif %}

<h2>{{page.title}}</h2>

{% if page.date != nil %}

<small>
    <p>
        Added on {{ page.date | date: "%-d %B %Y" }}
    </p>
</small>

{% endif %}

<p>{{page.content | markdownify }}</p>

<div class="container">

    {% if page.tablature != nil %}
    <div class="row">
        {% include alphatab.html source=page.tablature %}
    </div>
    {% endif %}

    <div class="row">
        {% if page.pdf != nil %}
        <div class="col">

            <p>Check the PDF here</p>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe src="https://docs.google.com/gview?url={{page.pdf}}&embedded=true" frameborder="0"
                    allowfullscreen></iframe>
            </div>
        </div>
        {% endif %}
        <div class="col">
            {% if page.video != nil %}
            <p>Check the demo video here</p>

            {% if page.video contains "youtube" %}
            <div class="embed-responsive embed-responsive-16by9">
                <iframe frameborder="0" src={{page.video}} allowfullscreen>
                </iframe>
            </div>

            {% else %}
            <div class="embed-responsive embed-responsive-16by9">
                <iframe src="https://docs.google.com/gview?url={{page.video}}&embedded=true" frameborder="0"
                    allowfullscreen></iframe>
            </div>

            {% endif %}

            {% endif %}
        </div>
    </div>
</div>

{% include back_url.html %}