---
layout: default
show_title: true
---

{{ content }}

<hr>

<div class="list-group">

    {% assign parent = page.url | remove:'index.html' %}
    {% for page in site.pages %}

    {% comment %}
    Iterate over the pages under the parent
    {% endcomment %}
    {% assign checkArray = page.url | split:parent %}

    {% if checkArray[0] == "" %}

    {% assign subpath = checkArray %}
    {% assign splitSubpath = subpath | split:"/" %}


    {% if splitSubpath.size == 2 %}
    <!-- This means it is a subsection and not the child of a subsection-->

    {% include section_preview.html
    url=page.url
    title=page.title
    content=page.content
    %}

    {% endif %}

    {% endif %}

    {% endfor %}

</div>